<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <title>Vein Profiling</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
      function loadfolder () {
          var element = document.getElementById("folder").value;
          $.ajax({
              url: "/load_folder",
              type: "POST",
              contentType: "application/json;charset=UTF-8",
              dataType: "json",
              data: JSON.stringify(folder.value),
          });
      }
      </script>
  </head>
  <body>
    <main>
      <input type="text" id="folder">
      <input type="button" value="Load folder" onclick="loadfolder()">
    </main>
  </body>
</html>
