<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Vein Profiling</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!--<script src="/static/jquery.js"></script>-->
    <script>
      // Dummy variable for canvas and (canvas) context.
      var canvas, ctx = 0;
      // Initialize list to store active xy points to connect the points of in the canvas overlay.
      var all_xy = [];
      // Dummy value to save overlays in SVG format into.
      var svg_fname = "";
      // Dummy name for the active element.
      var loaded_element = "";
      // Start by declaring the absence of the background rectangle(s), vein width (which are to be provided) and GMT profile result (to be computed).
      var bkg_rect_exists = false;
      var vein_width_exists = false;
      var gmt_profile_exists = false;

      function init_canvas() {
        // Initialize the drawable canvas overlay.
        canvas = document.getElementById("canv-map");
        body = document.getElementsByTagName("body")[0];
        // Set the drawing context (as a flat plane on the display).
        ctx = canvas.getContext("2d");
        // Bind clicks in the canvas region to the function `appendxy` (which adds the clicked (x,y) point to the active points list).
        canvas.addEventListener("mousedown",function (e) {appendxy(e)});
      }

      function appendxy (e) {
        // Determine the x,y position of the click event on the canvas relative to canvas coordinates.
        x = e.clientX - canvas.offsetLeft;
        y = e.clientY - canvas.offsetTop;
        // Add the x,y point to the end of the list.
        all_xy.push([x,y]);
        // Draw the updated list of of x,y list.
        drawxy(all_xy);
      }

      function drawxy (all_xy) {
        // Remove the previous plotted points (i.e. this will redraw the entire xy list from scratch).
        ctx.clearRect(0,0,canvas.width,canvas.height);
        // Declare properties of the live drawing.
        ctx.fillStyle = "red";
        ctx.strokeStyle = "red";
        // Find the size-corrected center of the active point.
        x_center = all_xy[0][0]-1;
        y_center = all_xy[0][1]-1;
        // Draw the first point in the active coordinates list as a small square.
        ctx.fillRect(x_center,y_center,2,2);
        // Draw any remaining points being connected by a path of straight lines (join-the-dots style).
        ctx.beginPath();
        ctx.moveTo(...all_xy[0]);
        for (const point of all_xy.slice(1)) {ctx.lineTo(...point)};
        // Declare completion of the path, permitting display.
        ctx.stroke();
      }

      function clearxy () {
        // Remove all points from the active list.
        all_xy = [];
        // Remove anything live display on the canvas.
        ctx.clearRect(0,0,canvas.width,canvas.height);
      }

      function update_inner_html (the_id,newstatus="Loaded") {
        // Update the inner HTML of a element specified by id, with the default action being to setting the inner HTML to the string "Loaded".
        document.getElementById(the_id).innerHTML = newstatus;
      }

      function store_xy (input_def) {
      // Store a live xy path by name (that designate the different paths e.g. profile, vein span, vein path) into the backend's volatile memory, and plot into the SVG layer overlaying the EDS map.
        $.ajax({
          url: "/store_path",
          type: "POST",
          contentType: "application/json;charset=UTF-8",
          dataType: "json",
          data: JSON.stringify({"xy":all_xy,"def":input_def}),
          success: function (data) {
            // Reset the canvas context (including the removal of anything draw on there).
            ctx.reset();
            // Plot the current live coordinate list into the SVG layer.
            plot_svg(`${input_def}_line`,`svg-${input_def}-line`);
            // Clear the live coordinates list.
            all_xy = [];
          }
        });
      }

      function show_class(class_to_show) {
      // Display an element or collection of elements by class name.
        // Get the elements that are part of the class of interest.
        elemCollection = document.getElementsByClassName(class_to_show);
        // Iterate through each element.
        for (const elem of elemCollection) {
          // Update the display value to block, which ensures the element is visible.
          elem.style["display"] = "block";
        };
      }

      function hide_class(class_to_show) {
      // Hide an element or collection of elements by class name.
        // Get the elements that are part of the class of interest.
        elemCollection = document.getElementsByClassName(class_to_show);
        // Iterate through each element.
        for (const elem of elemCollection) {
          // Update the display value to none, which ensures the element is hidden.
          elem.style["display"] = "none";
        };
      }

      function save_svg() {
        // Issue request to save all stored SVG overlays (and the EDS map base image) to an SVG file on disk.
        $.ajax({
        url: "/save_svg",
        type: "POST",
        contentType: "application/json;charset=UTF-8",
        dataType: "json",
        data: JSON.stringify({"svg":document.getElementById("all-svg").outerHTML,"element":document.getElementById("entered-element").innerHTML}),
        });
      }

      function plot_svg (storage_key,path_id) {
        // Issue request to retrieve a stored path and then plot it in the correct element of the SVG overlay.
        $.ajax({
          url: "/plot_svg",
          type: "POST",
          contentType: "application/json;charset=UTF-8",
          dataType: "json",
          data: JSON.stringify({"storage_key":storage_key}),
          success : function (data) {
            // Load SVG path definition from response.
            svg_path_def = data["path"];
            // Place this def into the correct element of the SVG overlay.
            document.getElementById(path_id).setAttribute("d",svg_path_def);
          }
        });
      }

      function display_image (filename) {
        // Declare path to image. Use of current time is to avoid caching issues.
        img_src = `/static/${filename}#` + new Date().getTime();
        // Display this image in the region below the EDS map.
        update_inner_html("profile-display",`<img src="${img_src}" style="width:{{width|safe}}">`)
      }

      function load_elem() {
      // Take input element and load it for active use.
        // Read the inputted element.
        var element = document.getElementById("element").value;
        // Issue request to load the element's html.
        $.ajax({
        url: "/load_elem",
        type: "POST",
        contentType: "application/json;charset=UTF-8",
        dataType: "json",
        data: JSON.stringify(element),
        success: function (data) {
            // Access the display image specification.
            const img = document.getElementById("map");
            // Load the EDS map's region ID.
            var region = data["region"]
            // Update the EDS image. Use of current time is to avoid caching issues.
            img.src = `/static/${element}-${region}.tiff.jpg#` + new Date().getTime();
            // Display that an element has been loaded.
            update_inner_html("entered-element",element);
          }
        });
      }

      function load_vein_path () {
      // Read a vein path definition file into the active vein path.
        // Get the inputted vein file of interest.
        var filepath = document.getElementById("filepath").value;
        // Request file reading from backend.
        $.ajax({
          url: "/load_vein_path",
          type: "POST",
          contentType: "application/json;charset=UTF-8",
          dataType: "json",
          data: JSON.stringify(filepath),
          success: function (data) {
            // Check whether valid data was found or not.
            if (data["data"]==="") {
              // If not, declare so.
              document.getElementById("profile-display").innerHTML = `Vein path file not found`
            } else {
              // Otherwise, clear any preexisting live path.
              clearxy();
              // Clear the any preexisting displayed profile.
              document.getElementById("profile-display").innerHTML = ``
              // Plot the vein path loaded by the file in the SVG layer (by issuing another request for plotting to the backend via plot_svg).
              plot_svg("vein_line","svg-vein-line");
              // Declare the loading of a vein path definition.
              update_inner_html("entered-vein-def");
              // Show buttons for inputting of data necessary for executing GMT profiling.
              show_class("PreGMTProfile");
              // Show button for saving the SVG overlay to disk.
              show_class("SaveSVG");
            }
          }
        });
      }

      function save_vein() {
        // Display that a vein definition has been loaded.
        update_inner_html("entered-vein-def");
        // Store the inputted vein path (with path id "vein").
        store_xy("vein");
        // Show buttons for inputting of data necessary for executing GMT profiling.
        show_class("PreGMTProfile");
        // Show button for saving the SVG overlay to disk.
        show_class("SaveSVG");
      }

      function profile_length() {
        // Display that a profile definition has been loaded.
        update_inner_html("entered-profile-length");
        // Store the inputted profile coordinates (with path id "profile").
        store_xy("profile");
        // Show the buttons for executing GMT profiling.
        show_class("GMTProfile");
        // Show buttons for inputting of data necessary for executing profile analysis.
        show_class("PreAnalyzedProfile");
      }

      function vein_width() {
        // Display that a vein span has been loaded.
        update_inner_html("entered-vein-width");
        // Store the inputted vein span coordinates (with path id "crossvein").
        store_xy("crossvein");
        // Declare that a vein span has been loaded.
        vein_width_exists = true;
        // Check if the input of background rectangles has been declared.
        if (bkg_rect_exists) {
          // If so, display the button for executing EDS smoothing.
          show_class("Smoothing");
          // And the button for profiling all available elements.
          show_class("ProfileAll");
          // Check if a profile definition exists ...
          if (gmt_profile_exists) {
            // And if so, displaying the button to execute profile analysis.
            show_class("AnalyzedProfile");
          }
        }
      }

      function selvage_width() {
        // Display that a selvage span has been loaded.
        update_inner_html("entered-selvage-width");
        // Store the inputted selvage span coordinates (with path id "crossselvage").
        store_xy("crossselvage");
      }

      function background_rectangle () {
        // Issue request to store the active path (defining the opposite corners of a rectangle) as a "background"/matrix covering rectangle.
        $.ajax({
          url: "/save_bkg_rect",
          type: "POST",
          contentType: "application/json;charset=UTF-8",
          dataType: "json",
          data: JSON.stringify({"xy":all_xy}),
          success: function (data) {
            // Reset/clear the canvas.
            ctx.reset();
            // Plot the rectangle in the SVG layer.
            document.getElementById("svg-bkg-rect").setAttribute("d",data["path"]);
            // Clear the live path.
            all_xy = [];
          }
        });
        // Declare that at least one background rectangle exists.
        bkg_rect_exists = true;
        // If so, display the button for executing EDS smoothing.
        show_class("Smoothing");
        // Check if a vein span exists.
        if (vein_width_exists) {
          // If so, display the button for profiling all available elements.
          show_class("ProfileAll");
          // Check if a profile definition exists ...
          if (gmt_profile_exists) {
            // And if so, displaying the button to execute profile analysis.
            show_class("AnalyzedProfile");
          }
        }
      }

      function rm_background_rectangle () {
      // Clear all background rectangle definitions from backend storage and the SVG layer.
        // Issue request to remove all rectangle definitions from backend storage.
        $.ajax({
          url: "/clear_bkg_rect",
          type: "POST",
          contentType: "application/json;charset=UTF-8",
          dataType: "json",
          data: JSON.stringify("RM"),
          success: function (data) {
            // Reset/clear the canvas.
            ctx.reset();
            // Clear all background rectangles from the SVG layer.
            document.getElementById("svg-bkg-rect").setAttribute("d","");
            // Clear the live path.
            all_xy = [];
          }
        });
        // Declare the absence of any background rectangles.
        bkg_rect_exists = false;
        // Hide all buttons that execute something requiring a background rectangle's definition.
        hide_class("AnalyzedProfile")
        hide_class("ProfileAll")
        hide_class("Smoothing")
      }

      function reset_buttons_display() {
        // Declare classes that encompass all relevant buttons.
        classes = ["PreGMTProfile","GMTProfile","PreAnalyzedProfile","AnalyzedProfile","SaveSVG","ProfileAll","Smoothing"];
        // Iterate through the classes to hide all of them.
        for (const class_i of classes) {
          hide_class(class_i);
        }
      }

      function reset_config () {
      // Clear all stored config options from backend storage and remove anything plotted in the SVG layer.
        // Issue request to reset the backend storage.
        $.ajax({
          url: "/clear_all",
          type: "POST",
          contentType: "application/json;charset=UTF-8",
          dataType: "json",
          data: "CLEAR",
          async: false,
        });
        // Reset the display of buttons to what it was like at the start.
        reset_buttons_display();
        // Clear all svg elements with an ID.
        svg_elements = document.getElementById("all-svg").querySelectorAll('[id]')
        for (const svg_elem of svg_elements) {
          document.getElementById(svg_elem.id).setAttribute("d","");
        }
      }

      function load_new_region () {
      // Return to page for EDS folder loading.
        $.ajax({
          url: "/load_new_region",
          type: "POST",
          contentType: "application/json;charset=UTF-8",
          dataType: "json",
          data: "LOAD",
          success: function (data) {location.reload()},
        });
      }

      function gmt_profile() {
      // Issue request to execute GMT profiling.
        $.ajax({
          url: "/gmt_profile",
          type: "POST",
          contentType: "application/json;charset=UTF-8",
          dataType: "json",
          data: JSON.stringify("PROFILING"),
          success : function (data) {
            // Show a plot of the generated GMT profile after it gets produced.
            display_image(data["filename"]);
          }
        });
        // Declare that a GMT profile has been produced.
        gmt_profile_exists = true;
        // Check if a vein span and background rectangles exist.
        if (vein_width_exists && bkg_rect_exists) {
          // If so, display the button for profiling all available elements.
          show_class("ProfileAll");
          // And the button to execute profile analysis.
          show_class("AnalyzedProfile");
        }
      }

      function analyze_profile () {
        // Issue request to analyze the GMT profile.
        $.ajax({
          url: "/analyze_profile",
          type: "POST",
          contentType: "application/json;charset=UTF-8",
          dataType: "json",
          data: JSON.stringify("PROFILING"),
          success : function (data) {
            // Display result of profile analysis.
            display_image(data["filename"]);
          }
        });
      }

      function smooth_map () {
      // Smooth (and recenter element abundances) for the active EDS map.
        // Issue request to execute EDS map smoothing.
        $.ajax({
        url: "/smooth_map",
        type: "POST",
        contentType: "application/json;charset=UTF-8",
        dataType: "json",
        data: "SMOOTH",
        success : function (data) {
          // Display the smoothed map.
          display_image(data["filename"]);
          }
        });
      }

      function profile_all () {
        // Save SVG overlays to disk.
        save_svg();
        // Issue request to execute GMT profiling followed by profile analysis for all available elements.
        $.ajax({
          url: "/process_all_elem",
          type: "POST",
          contentType: "application/json;charset=UTF-8",
          dataType: "json",
          data: "PROFILE ALL"
        });
      }

      function smooth_all () {
      // Smooth all available EDS maps.
        // Save SVG overlays to disk.
        save_svg();
        // Issue request to execute EDS map smoothing for all available elements.
        $.ajax({
          url: "/smooth_all",
          type: "POST",
          contentType: "application/json;charset=UTF-8",
          dataType: "json",
          data: "SMOOTH ALL"
        });
      }
      </script>
    <style>
      .input-group {
        margin-top: 10px;
      }

      .main-action-button {
        background:#3232e1;
        color:white;
      }
    </style>
  </head>
  <body onload="init_canvas();reset_buttons_display();">
    <main>
      <img id="map" src="/static/{{element|safe}}-{{region|safe}}.tiff.jpg" style="position:absolute;top:0px;left:0px;" width="{{width|safe}}" height="{{height|safe}}">
      <svg style="position:absolute;top:0px;left:0px;cursor:pointer;" width="{{width|safe}}" height="{{height|safe}}" id="all-svg">
        <path id="svg-vein-line" style="fill:none;stroke:red;" d=""/>
        <path id="svg-profile-line" style="fill:none;stroke:green;stroke-width:7;" d=""/>
        <path id="svg-crossselvage-line" style="fill:none;stroke:cyan;stroke-width:5;" d=""/>
        <path id="svg-crossvein-line" style="fill:none;stroke:pink;stroke-width:3;" d=""/>
        <path id="svg-bkg-rect" style="fill:none;stroke:lightblue;stroke-width:3;" d=""/>
      </svg>

      <canvas id="canv-map" style="position:absolute;top:0px;left:0px;cursor:pointer;" width="{{width|safe}}" height="{{height|safe}}"></canvas>

      <div id="profile-display" width="{{width|safe}}" style="position:absolute;top:{{height|safe}};left:0px">
      </div>
      <div style="position:absolute;top:0px;left:{{width|safe}};display:block;width:100px;text-align:left;margin-left:10px">
        <div class="input-group">
          <span style="font-size:0.75em"><b>Element symbol</b></span>
          <input type="text" id="element" value="">
          <input type="button" value="Load element" onclick="load_elem()">
        </div>

        <div class="input-group">
          <input type="button" value="Clear active drawing" onclick="clearxy()" style="background:#fd6d6d">
        </div>

        <div class="input-group">
          <span style="font-size:0.75em"><b>Vein path file</b></span>
          <input type="text" id="filepath">
          <input type="button" value="Save" onclick="save_vein()">
          <input type="button" value="Load" onclick="load_vein_path()">
        </div>

        <div class="input-group">
          <input type="button" value="Send profile length" onclick="profile_length()" class="PreGMTProfile" style="color:white;background-color:black">
        </div>

        <div class="input-group">
          <input type="button" value="Profile" onclick="gmt_profile()"  class="GMTProfile main-action-button">
        </div>

        <div class="input-group">
          <input type="button" value="Send vein width" onclick="vein_width()"  class="PreAnalyzedProfile" style="color:white;background-color:black">
          <input type="button" value="Send selvage width" onclick="selvage_width()"  class="PreAnalyzedProfile" style="color:white;background-color:black">
          <input type="button" value="Send bkg rect" onclick="background_rectangle()"  class="PreAnalyzedProfile" style="color:white;background-color:black">
          <input type="button" value="Clear bkg rect(s)" onclick="rm_background_rectangle()"  class="PreAnalyzedProfile" style="background:#ec4646">
        </div>

        <div class="input-group">
          <input type="button" value="Analyse profile" onclick="analyze_profile()" id="analyze_profile"  class="AnalyzedProfile main-action-button">
        </div>

        <div class="input-group">
          <input type="button" value="Smooth Map" onclick="smooth_map()"  class="Smoothing main-action-button">
        </div>

        <div class="input-group">
          <input type="button" value="Profile All" onclick="profile_all()"  class="ProfileAll main-action-button">
          <input type="button" value="Smooth All" onclick="smooth_all()"  class="Smoothing main-action-button">
        </div>

        <div class="input-group">
          <input type="button" value="Save SVG overlay" onclick="save_svg()"  class="SaveSVG">
        </div>

        <div class="input-group">
          <input type="button" value="Clear all options" onclick="reset_config()" style="color:white;background:#d91414">
          <!--<input type="button" value="Load new folder" onclick="load_new_region()" style="color:white;background:#d90909">-->
        </div>

        <div><b>Status</b>
          <table>
            <tbody>
              <tr><td>Element</td><td id="entered-element">{{element|safe}}</td></tr>
              <tr><td>Vein Definition</td><td id="entered-vein-def">none</td></tr>
              <tr><td>Profile Length</td><td id="entered-profile-length">none</td></tr>
              <tr><td>Vein Width</td><td id="entered-vein-width">none</td></tr>
              <tr><td>Selvage Width</td><td id="entered-selvage-width">none</td></tr>
            </tbody>
          </table>
	</div>
    </main>
  </body>
</html>
